/* Index Page */

.abc {
  padding: 0px;
  border: none;
}


h5,
.pointer {
  cursor: pointer;
}

h3 {
  font-family: 'Abel', sans-serif;
}

.lead {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.callout {
}

img {
  height: 200px;
  box-shadow: 5px 5px 5px grey;
}
.column {
  padding: 15px;
  /* box-shadow: 10px 10px 5px grey; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
